In [14]:
import pandas as pd
import requests
import html5lib
from bs4 import BeautifulSoup

**ALL DC Schools**

In [15]:
# https://re-thought.com/how-to-scrape-a-table-from-a-website-using-python-2/#:~:text=The%20pd.read_html%20%28%29%20function%20takes%20a%20URL%20as,%28%29%20function%20to%20extract%20tables%20from%20a%20website.
url1 = "https://en.wikipedia.org/wiki/List_of_colleges_and_universities_in_Washington,_D.C."

response = requests.get(url1, verify=False)
soup = BeautifulSoup(response.text, 'lxml')

#finding table by its XPath
dc_tables = soup.select('#mw-content-text > div > table')

dc_table = dc_tables[0] #selecting the second table

#loading table into pandas dataframe
dc = pd.read_html(str(dc_table))[0]
print(dc)

/Users/jessicabenitez/Documents/GitHub/college-rec/college-env/lib/python3.12/site-packages/urllib3/connectionpool.py:1103: InsecureRequestWarning: Unverified HTTPS request is being made to host 'en.wikipedia.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

                                               School  \
0                                 American University
1                             Bay Atlantic University
2                      Catholic University of America
3                                Gallaudet University
4                        George Washington University
5                               Georgetown University
6                                   Howard University
7                         Institute of World Politics
8                      Inter-American Defense College
9            National Intelligence University[note 4]
10  Pontifical Faculty of the Immaculate Conceptio...
11  Pontifical John Paul II Institute for Studies ...
12            Strayer University–District of Columbia
13                      Trinity Washington University
14         University of Phoenix–Washington DC Campus
15             University of the District of Columbia
16     University of the Potomac–Washington DC Campus
17                        Wesley Theological Seminary

                                      Control[note 2]  \
0                              Private not-for-profit
1                              Private not-for-profit
2                              Private not-for-profit
3                              Private not-for-profit
4                              Private not-for-profit
5                              Private not-for-profit
6                              Private not-for-profit
7                              Private not-for-profit
8   Public (Organization of American States and th...
9      Public (U.S. Government and U.S. Armed Forces)
10                             Private not-for-profit
11                             Private not-for-profit
12                                 Private for-profit
13                             Private not-for-profit
14                                 Private for-profit
15                                             Public
16                                 Private for-profit
17                             Private not-for-profit

                    Type[note 3] Enrollment[7] (Fall 2022)   Founded  \
0   Doctoral/research university                     13885  1893[14]
1                 Not Classified                   230[15]  2014[16]
2            Research university                      4968  1887[18]
3            Doctoral university                      1322  1864[19]
4            Research university                     25939   1821[6]
5            Research university                     20984   1789[2]
6            Research university                     12886  1867[20]
7      Special-focus institution                       131  1990[21]
8      Special-focus institution                        64      1962
9      Special-focus institution                   692[22]  1962[23]
10     Special-focus institution                        73  1902[25]
11     Special-focus institution                        64  1988[26]
12           Master's university                       362  1904[27]
13           Master's university                      1895  1897[28]
14     Special-focus institution                       203  1976[29]
15           Master's university                      3577  1851[30]
16     Special-focus institution                       534  1989[31]
17     Special-focus institution                       454  1882[32]

                                     Accreditation[7]
0                               ABA, APA, CEPH, MSCHE
1                                           NECHE[17]
2              ACEN, ABA, APA, ATS, CCNE, MSCHE, NASM
3                               APA, ASHA, CEA, MSCHE
4   ACME, ABA, APTA, APA, ASHA, CCNE, CEPH, CPE, L...
5         ACME, ABA, CCNE, CEA, COA, CPE, LCME, MSCHE
6   ACPE, ABA, ADA, AND, AOTA, APTA, APA, ASHA, AT...
7                                               MSCHE
8                                               MSCHE
9                                           MSCHE[24]
10                                         ATS, MSCHE
11                                              MSCHE
12                                        CCNE, MSCHE
13                                  AOTA, CCNE, MSCHE
14                                                HLC
15              ACEN, ABFSE, AND, ASHA, JRCERT, MSCHE
16                                              MSCHE
17                                         ATS, MSCHE

/var/folders/4l/q8fyjl614w1567jd1msnhymw0000gn/T/ipykernel_1274/3635450704.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dc = pd.read_html(str(dc_table))[0]

**ALL MD SCHOOLS**

In [16]:
url2 = "https://en.wikipedia.org/wiki/List_of_colleges_and_universities_in_Maryland"

response = requests.get(url2, verify=False)
soup = BeautifulSoup(response.text, 'lxml')

#finding table by its XPath
md_tables = soup.select('#mw-content-text > div > table')

md_table = md_tables[0] #selecting the second table

#loading table into pandas dataframe
md = pd.read_html(str(md_table))[0]
print(md)

/Users/jessicabenitez/Documents/GitHub/college-rec/college-env/lib/python3.12/site-packages/urllib3/connectionpool.py:1103: InsecureRequestWarning: Unverified HTTPS request is being made to host 'en.wikipedia.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

                                        Name         Location  Founded  \
0                     Bowie State University            Bowie     1865
1                    Coppin State University        Baltimore     1900
2                 Frostburg State University        Frostburg     1899
3                    Morgan State University        Baltimore     1867
4                       Salisbury University        Salisbury     1925
5             St. Mary’s College of Maryland  St. Mary's City     1840
6                          Towson University           Towson     1866
7                United States Naval Academy        Annapolis     1845
8                    University of Baltimore        Baltimore     1925
9          University of Maryland, Baltimore        Baltimore     1807
10  University of Maryland, Baltimore County      Catonsville     1966
11      University of Maryland, College Park     College Park     1856
12      University of Maryland Eastern Shore    Princess Anne     1886
13      University of Maryland Global Campus          Adelphi     1947

       Type (Background) Enroll­ment[7]  Average SATs           Ref
0             USM (HBCU)           6408         945.0           [8]
1             USM (HBCU)           2101         895.0           [9]
2         USM (teaching)           4075        1030.0          [10]
3     Independent (HBCU)      9,808[11]         705.0  [12][13][14]
4         USM (teaching)           7029        1220.0          [15]
5   Liberal arts college      1,611[16]        1175.0      [12][17]
6         USM (teaching)          19527        1140.0          [18]
7        Service academy      4,450[19]        1350.0      [12][20]
8                    USM           3101        1055.0          [21]
9                    USM           6667        1270.0          [22]
10                   USM          14148        1270.0          [23]
11        USM (flagship)          40813        1375.0          [24]
12            USM (HBCU)           2840         940.0          [25]
13                   USM          60084           NaN          [26]

/var/folders/4l/q8fyjl614w1567jd1msnhymw0000gn/T/ipykernel_1274/1730923002.py:12: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  md = pd.read_html(str(md_table))[0]

**ALL VA SCHOOLS**

In [17]:
url3 = "https://en.wikipedia.org/wiki/List_of_colleges_and_universities_in_Virginia"

response = requests.get(url3, verify=False)
soup = BeautifulSoup(response.text, 'lxml')

#finding table by its XPath
va_tables = soup.select('#mw-content-text > div > table')

va_table = va_tables[0] #selecting the second table

#loading table into pandas dataframe
va = pd.read_html(str(va_table))[0]
print(va)

/Users/jessicabenitez/Documents/GitHub/college-rec/college-env/lib/python3.12/site-packages/urllib3/connectionpool.py:1103: InsecureRequestWarning: Unverified HTTPS request is being made to host 'en.wikipedia.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

                                           Name Location(s)[7]  \
0               American National University[9]   Multiple[10]
1               Appalachian College of Pharmacy        Oakwood
2                     Appalachian School of Law         Grundy
3                        Averett University[11]       Danville
4                  Blue Ridge Community College    Weyers Cave
..                                          ...            ...
76  Virginia University of Science & Technology         McLean
77                 Virginia Wesleyan University        Norfolk
78           Virginia Western Community College        Roanoke
79                Washington and Lee University      Lexington
80                 Wytheville Community College     Wytheville

                                       Control  \
0                         Private (for profit)
1                     Private (not for profit)
2                     Private (not for profit)
3                     Private (not for profit)
4   Public (Virginia Community College System)
..                                         ...
76                        Private (for profit)
77                         Private (Methodist)
78  Public (Virginia Community College System)
79                    Private (not for profit)
80  Public (Virginia Community College System)

                Carnegie Classification Accreditation Founded Enrollment[8]
0                    Masters University         ACICS    1886          1113
1                         Special focus          ACPE    2003           130
2                         Special focus           ABA    1994           152
3                    Masters University          SACS    1859          1363
4   Baccalaureate / Associates Colleges          SACS    1967          3562
..                                  ...           ...     ...           ...
76                   Masters University  Unaccredited    2016       Unknown
77                Baccalaureate college          SACS    1961          1538
78                       Junior college          SACS    1966          5860
79                Baccalaureate college          SACS    1749          2243
80                       Junior college          SACS    1963          2116

[81 rows x 7 columns]

/var/folders/4l/q8fyjl614w1567jd1msnhymw0000gn/T/ipykernel_1274/3328162998.py:12: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  va = pd.read_html(str(va_table))[0]

**ALL HBCU**

In [18]:
url4 = "https://en.wikipedia.org/wiki/List_of_historically_black_colleges_and_universities"
response = requests.get(url4, verify=False)
soup = BeautifulSoup(response.text, 'lxml')

#finding table by its XPath
tables = soup.select('#mw-content-text > div > table')

table = tables[1] #selecting the second table
#loading table into pandas dataframe
all_hbcu = pd.read_html(str(table))[0]
print(all_hbcu)

/Users/jessicabenitez/Documents/GitHub/college-rec/college-env/lib/python3.12/site-packages/urllib3/connectionpool.py:1103: InsecureRequestWarning: Unverified HTTPS request is being made to host 'en.wikipedia.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

                        Institution           City State/ territory  Founded  \
0            Alabama A&M University      Normal[a]          Alabama     1875
1          Alabama State University     Montgomery          Alabama     1867
2           Albany State University         Albany          Georgia     1903
3           Alcorn State University      Lorman[b]      Mississippi     1871
4                  Allen University       Columbia   South Carolina     1870
..                              ...            ...              ...      ...
100  West Virginia State University      Institute    West Virginia     1891
101          Wilberforce University    Wilberforce             Ohio     1856
102                Wiley University       Marshall            Texas     1873
103  Winston-Salem State University  Winston-Salem   North Carolina     1892
104  Xavier University of Louisiana    New Orleans        Louisiana     1915

            Type                                            Comment  \
0         Public     Founded as Colored Normal School at Huntsville
1         Public         Founded as Lincoln Normal School of Marion
2         Public  Founded as Albany Bible and Manual Training In...
3         Public  Founded as Alcorn University, in honor of Jame...
4     Private[c]                         Founded as Payne Institute
..           ...                                                ...
100       Public         Founded as West Virginia Colored Institute
101   Private[c]  Named for William Wilberforce. Oldest HBCU to ...
102   Private[h]  Named for Isaac William Wiley; was Wiley Colle...
103       Public  Founded as Slater Industrial and State Normal ...
104  Private[ac]          Founded as Xavier Preparatory High School

    Regionally accredited[3]
0                        Yes
1                        Yes
2                        Yes
3                        Yes
4                        Yes
..                       ...
100                      Yes
101                      Yes
102                      Yes
103                      Yes
104                      Yes

[105 rows x 7 columns]

/var/folders/4l/q8fyjl614w1567jd1msnhymw0000gn/T/ipykernel_1274/2757191462.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  all_hbcu = pd.read_html(str(table))[0]

**cleaning all_hbcu, md, va, and dc dataframes**

In [19]:
all_hbcu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Institution               105 non-null    object
 1   City                      105 non-null    object
 2   State/ territory          105 non-null    object
 3   Founded                   105 non-null    int64
 4   Type                      105 non-null    object
 5   Comment                   98 non-null     object
 6   Regionally accredited[3]  105 non-null    object
dtypes: int64(1), object(6)
memory usage: 5.9+ KB

In [20]:
all_hbcu = all_hbcu.drop(['Type', 'Founded','Comment', 'Regionally accredited[3]'], axis=1)

In [21]:
all_hbcu.head(10)

                            Institution         City State/ territory
0                Alabama A&M University    Normal[a]          Alabama
1              Alabama State University   Montgomery          Alabama
2               Albany State University       Albany          Georgia
3               Alcorn State University    Lorman[b]      Mississippi
4                      Allen University     Columbia   South Carolina
5              American Baptist College    Nashville        Tennessee
6  University of Arkansas at Pine Bluff   Pine Bluff         Arkansas
7              Arkansas Baptist College  Little Rock         Arkansas
8                 Barber–Scotia College      Concord   North Carolina
9                      Benedict College     Columbia   South Carolina

In [22]:
va.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     81 non-null     object
 1   Location(s)[7]           81 non-null     object
 2   Control                  81 non-null     object
 3   Carnegie Classification  81 non-null     object
 4   Accreditation            81 non-null     object
 5   Founded                  81 non-null     object
 6   Enrollment[8]            81 non-null     object
dtypes: object(7)
memory usage: 4.6+ KB

In [23]:
va_df = va.drop(['Location(s)[7]', 'Control', 'Carnegie Classification', 'Accreditation', 'Founded', 'Enrollment[8]'], axis=1)

In [24]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               14 non-null     object
 1   Location           14 non-null     object
 2   Founded            14 non-null     int64
 3   Type (Background)  14 non-null     object
 4   Enroll­ment[7]     14 non-null     object
 5   Average SATs       13 non-null     float64
 6   Ref                14 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 916.0+ bytes

In [25]:
md_df = md.drop(['Location', 'Founded', 'Type (Background)', 'Enroll­ment[7]', 'Average SATs', 'Ref'], axis=1)

In [26]:
dc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   School                     18 non-null     object
 1   Control[note 2]            18 non-null     object
 2   Type[note 3]               18 non-null     object
 3   Enrollment[7] (Fall 2022)  18 non-null     object
 4   Founded                    18 non-null     object
 5   Accreditation[7]           18 non-null     object
dtypes: object(6)
memory usage: 996.0+ bytes

In [27]:
dc_df = dc.drop(['Control[note 2]', 'Type[note 3]', 'Enrollment[7] (Fall 2022)', 'Founded', 'Accreditation[7]'], axis=1)

**Renaming columns in order to join dataframes**

In [28]:
dc_df.rename(columns={'School':'Institution'}, inplace=True)
va_df.rename(columns={'Name':'Institution'}, inplace=True)
md_df.rename(columns={'Name':'Institution'}, inplace=True)

In [29]:
dc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Institution  18 non-null     object
dtypes: object(1)
memory usage: 276.0+ bytes

**making df for md, va, and dc hbcu**

In [30]:
dc_hbcu = pd.merge(all_hbcu, dc_df, how="inner", on=["Institution"]) #inner joining on word allows for no repetition or NaN rows
dc_hbcu.head

<bound method NDFrame.head of                               Institution        City      State/ territory
0  University of the District of Columbia  Washington  District of Columbia
1                       Howard University  Washington  District of Columbia>

In [31]:
md_hbcu = pd.merge(all_hbcu, md_df, how="inner", on=["Institution"])
md_hbcu.head

<bound method NDFrame.head of                             Institution              City State/ territory
0                Bowie State University             Bowie         Maryland
1               Coppin State University         Baltimore         Maryland
2  University of Maryland Eastern Shore  Princess Anne[q]         Maryland
3               Morgan State University         Baltimore         Maryland>

In [32]:
va_hbcu = pd.merge(all_hbcu, va_df, how="inner", on=["Institution"])
va_hbcu.head

<bound method NDFrame.head of                         Institution            City State/ territory
0                Hampton University         Hampton         Virginia
1          Norfolk State University         Norfolk         Virginia
2         Virginia State University  Petersburg[aa]         Virginia
3         Virginia Union University        Richmond         Virginia
4  Virginia University of Lynchburg       Lynchburg         Virginia>

**making a dmv_hbcu dataframe**

In [33]:
#adding dc_hbcu to the end of va_hbcu without repetition
va_dc_hbcu = pd.concat([va_hbcu, dc_hbcu], ignore_index=True)
va_dc_hbcu.head

<bound method NDFrame.head of                               Institution            City  \
0                      Hampton University         Hampton
1                Norfolk State University         Norfolk
2               Virginia State University  Petersburg[aa]
3               Virginia Union University        Richmond
4        Virginia University of Lynchburg       Lynchburg
5  University of the District of Columbia      Washington
6                       Howard University      Washington

       State/ territory
0              Virginia
1              Virginia
2              Virginia
3              Virginia
4              Virginia
5  District of Columbia
6  District of Columbia  >

In [34]:
#adding md_hbcu to the end of the previous va_dc_hbcu
dmv_hbcu = pd.concat([va_dc_hbcu, md_hbcu], ignore_index=True)
dmv_hbcu.head

<bound method NDFrame.head of                                Institution              City  \
0                       Hampton University           Hampton
1                 Norfolk State University           Norfolk
2                Virginia State University    Petersburg[aa]
3                Virginia Union University          Richmond
4         Virginia University of Lynchburg         Lynchburg
5   University of the District of Columbia        Washington
6                        Howard University        Washington
7                   Bowie State University             Bowie
8                  Coppin State University         Baltimore
9     University of Maryland Eastern Shore  Princess Anne[q]
10                 Morgan State University         Baltimore

        State/ territory
0               Virginia
1               Virginia
2               Virginia
3               Virginia
4               Virginia
5   District of Columbia
6   District of Columbia
7               Maryland
8               Maryland
9               Maryland
10              Maryland  >

In [35]:
#cleaning institution row
dmv_hbcu.at[2, 'City'] = 'Petersburg'
dmv_hbcu.at[9, 'City'] = 'Princess Anne'
dmv_hbcu.rename(columns={'State/ territory':'State'}, inplace=True)

In [36]:
dmv_hbcu.head(15)

,Institution,City,State
0,Hampton University,Hampton,Virginia
1,Norfolk State University,Norfolk,Virginia
2,Virginia State University,Petersburg,Virginia
3,Virginia Union University,Richmond,Virginia
4,Virginia University of Lynchburg,Lynchburg,Virginia
5,University of the District of Columbia,Washington,District of Columbia
6,Howard University,Washington,District of Columbia
7,Bowie State University,Bowie,Maryland
8,Coppin State University,Baltimore,Maryland
9,University of Maryland Eastern Shore,Princess Anne,Maryland
10,Morgan State University,Baltimore,Maryland

In [37]:
dmv_hbcu.to_excel('dmv_hbcu.xlsx', index=False)