In [1]:
import pandas as pd
import os

In [2]:
# Dataset from https://collegescorecard.ed.gov/data/
#df = pd.read_csv('/Users/jessicabenitez/Downloads/Most-Recent-Cohorts-Institution.csv', 
                 #encoding='latin-1')
df = pd.read_csv('../data/Raw-Most-Recent-Cohorts-Institution.csv', 
                encoding='latin-1')
df.head(10)
#os.makedirs('../data', exist_ok=True)  
#df.to_csv('../data/Raw-Most-Recent-Cohorts-Institution.csv')

/var/folders/4l/q8fyjl614w1567jd1msnhymw0000gn/T/ipykernel_1971/3301906161.py:4: DtypeWarning: Columns (10,1538,1541,1543,1607,1609,1615,1616,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1689,1690,1691,1692,1693,1698,1701,1704,1705,1726,1727,1728,1729,1730,1744,1816,1817,1818,1819,1824,1825,1831,1832,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1910,1911,1912,1913,1914,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1984,1985,2377,2378,2404,2405,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2959,3216,3232,3236,3237) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/Raw-Most-Recent-Cohorts-Institution.csv',

,Unnamed: 0,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,...,DCS_PELL_LOAN,PCTPELL_DCS_POOLED_SUPP,PCTFLOAN_DCS_POOLED_SUPP,DCS_PELL_LOAN_POOLED,POOLYRS_DCS,SATVR50,SATMT50,ACTCM50,ACTEN50,ACTMT50
0,0,100654,100200.0,1002.0,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,...,5094.0,0.6553,0.5365,5094.0,1.0,470.0,450.0,17.0,16.0,16.0
1,1,100663,105200.0,1052.0,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu/,...,13284.0,0.3374,0.4214,13284.0,1.0,650.0,650.0,27.0,27.0,25.0
2,2,100690,2503400.0,25034.0,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,https://www.amridgeuniversity.edu/,...,251.0,0.7769,0.5896,251.0,1.0,NaN,NaN,NaN,NaN,NaN
3,3,100706,105500.0,1055.0,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu/,...,7360.0,0.2235,0.3511,7360.0,1.0,650.0,685.0,26.0,28.0,26.0
4,4,100724,100500.0,1005.0,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/,...,3495.0,0.6984,0.768,3495.0,1.0,480.0,455.0,18.0,17.0,16.0
5,5,100751,105100.0,1051.0,The University of Alabama,Tuscaloosa,AL,35487-0100,Southern Association of Colleges and Schools C...,www.ua.edu/,...,30725.0,0.1843,0.3494,30725.0,1.0,630.0,630.0,28.0,28.0,26.0
6,6,100760,100700.0,1007.0,Central Alabama Community College,Alexander City,AL,35010,Southern Association of Colleges and Schools C...,www.cacc.edu/,...,940.0,0.5011,0.2532,940.0,1.0,NaN,NaN,NaN,NaN,NaN
7,7,100812,100800.0,1008.0,Athens State University,Athens,AL,35611,Southern Association of Colleges and Schools C...,www.athens.edu/,...,2511.0,0.4205,0.4389,2511.0,1.0,NaN,NaN,NaN,NaN,NaN
8,8,100830,831000.0,8310.0,Auburn University at Montgomery,Montgomery,AL,36117-3596,Southern Association of Colleges and Schools C...,www.aum.edu/,...,3742.0,0.5011,0.5329,3742.0,1.0,540.0,530.0,20.0,21.0,18.0
9,9,100858,100900.0,1009.0,Auburn University,Auburn,AL,36849,Southern Association of Colleges and Schools C...,www.auburn.edu/,...,24782.0,0.1261,0.2804,24782.0,1.0,650.0,650.0,27.0,28.0,26.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6484 entries, 0 to 6483
Columns: 3245 entries, Unnamed: 0 to ACTMT50
dtypes: float64(852), int64(15), object(2378)
memory usage: 160.5+ MB

In [4]:
# showing duplicates
df.duplicated(subset='INSTNM').sum()

127

There are 127 duplicate rows

In [5]:
new_df = df[["UNITID", "INSTNM", "CITY", "STABBR", "ZIP", "ACCREDAGENCY", "SCH_DEG", "ADM_RATE_SUPP", "NPT4_PUB", "NPT4_PRIV",
             "PPTUG_EF", "C150_L4_POOLED_SUPP", "C150_L4_PELL_POOLED_SUPP", "GRAD_DEBT_MDN_SUPP",
             "PLUS_DEBT_ALL_COMP_MDPAY10_SUPP", "PLUS_DEBT_INST_COMP_MDPAY10_SUPP", "GRAD_DEBT_MDN10YR_SUPP",
             "PLUS_DEBT_INST_COMP_MD_SUPP", "PREDDEG", "UGDS_WHITE", "UGDS_BLACK", "UGDS_HISP", "UGDS_ASIAN", 
             "UGDS_AIAN", "UGDS_NHPI", "UGDS_2MOR", "UGDS_NRA", "UGDS_UNKN", "IRPS_WHITE", "IRPS_BLACK", "IRPS_HISP",
             "IRPS_ASIAN", "IRPS_AIAN", "IRPS_NHPI", "IRPS_2MOR", "IRPS_NRA", "IRPS_UNKN", "BBRR2_FED_UG_N_SUPP",
             "BBRR2_FED_UG_DFLT_SUPP", "BBRR2_FED_UG_DLNQ_SUPP", "BBRR2_FED_UG_FBR_SUPP", "BBRR2_FED_UG_DFR_SUPP", 
             "BBRR2_FED_UG_NOPROG_SUPP", "BBRR2_FED_UG_MAKEPROG_SUPP", "BBRR2_FED_UG_PAIDINFULL_SUPP", "BBRR2_FED_UG_DISCHARGE_SUPP",
             "BBRR2_FED_UGCOMP_N_SUPP", "BBRR2_FED_UGCOMP_DFLT_SUPP", "BBRR2_FED_UGCOMP_DLNQ_SUPP", "BBRR2_FED_UGCOMP_FBR_SUPP",
             "BBRR2_FED_UGCOMP_DFR_SUPP", "BBRR2_FED_UGCOMP_NOPROG_SUPP", "BBRR2_FED_UGCOMP_MAKEPROG_SUPP", "BBRR2_FED_UGCOMP_PAIDINFULL_SUPP",
             "BBRR2_FED_UGCOMP_DISCHARGE_SUPP", "PCTPELL_DCS_POOLED_SUPP", "STUFACR", "PCTFLOAN_DCS_POOLED_SUPP", "RET_FT4_POOLED_SUPP",
             "RET_PT4_POOLED_SUPP", "RET_FTL4_POOLED_SUPP", "RET_PTL4_POOLED_SUPP", "SATVR25", "SATVR75", "SATMT25", 
             "SATMT75", "ACTCM25", "ACTCM75"]]

In [6]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6484 entries, 0 to 6483
Data columns (total 68 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   UNITID                            6484 non-null   int64
 1   INSTNM                            6484 non-null   object
 2   CITY                              6484 non-null   object
 3   STABBR                            6484 non-null   object
 4   ZIP                               6484 non-null   object
 5   ACCREDAGENCY                      6245 non-null   object
 6   SCH_DEG                           6047 non-null   float64
 7   ADM_RATE_SUPP                     1956 non-null   object
 8   NPT4_PUB                          1833 non-null   float64
 9   NPT4_PRIV                         3432 non-null   float64
 10  PPTUG_EF                          5688 non-null   float64
 11  C150_L4_POOLED_SUPP               3098 non-null   object
 12  C150_L4_PELL_POOLED_SUPP          3034 non-null   object
 13  GRAD_DEBT_MDN_SUPP                6298 non-null   object
 14  PLUS_DEBT_ALL_COMP_MDPAY10_SUPP   6048 non-null   object
 15  PLUS_DEBT_INST_COMP_MDPAY10_SUPP  6048 non-null   object
 16  GRAD_DEBT_MDN10YR_SUPP            6298 non-null   object
 17  PLUS_DEBT_INST_COMP_MD_SUPP       6048 non-null   object
 18  PREDDEG                           6484 non-null   int64
 19  UGDS_WHITE                        5716 non-null   float64
 20  UGDS_BLACK                        5716 non-null   float64
 21  UGDS_HISP                         5716 non-null   float64
 22  UGDS_ASIAN                        5716 non-null   float64
 23  UGDS_AIAN                         5716 non-null   float64
 24  UGDS_NHPI                         5716 non-null   float64
 25  UGDS_2MOR                         5716 non-null   float64
 26  UGDS_NRA                          5716 non-null   float64
 27  UGDS_UNKN                         5716 non-null   float64
 28  IRPS_WHITE                        5744 non-null   float64
 29  IRPS_BLACK                        5744 non-null   float64
 30  IRPS_HISP                         5744 non-null   float64
 31  IRPS_ASIAN                        5744 non-null   float64
 32  IRPS_AIAN                         5744 non-null   float64
 33  IRPS_NHPI                         5744 non-null   float64
 34  IRPS_2MOR                         5744 non-null   float64
 35  IRPS_NRA                          5744 non-null   float64
 36  IRPS_UNKN                         5744 non-null   float64
 37  BBRR2_FED_UG_N_SUPP               6291 non-null   object
 38  BBRR2_FED_UG_DFLT_SUPP            6291 non-null   object
 39  BBRR2_FED_UG_DLNQ_SUPP            6291 non-null   object
 40  BBRR2_FED_UG_FBR_SUPP             6291 non-null   object
 41  BBRR2_FED_UG_DFR_SUPP             6291 non-null   object
 42  BBRR2_FED_UG_NOPROG_SUPP          6291 non-null   object
 43  BBRR2_FED_UG_MAKEPROG_SUPP        6291 non-null   object
 44  BBRR2_FED_UG_PAIDINFULL_SUPP      6291 non-null   object
 45  BBRR2_FED_UG_DISCHARGE_SUPP       6291 non-null   object
 46  BBRR2_FED_UGCOMP_N_SUPP           6291 non-null   object
 47  BBRR2_FED_UGCOMP_DFLT_SUPP        6291 non-null   object
 48  BBRR2_FED_UGCOMP_DLNQ_SUPP        6291 non-null   object
 49  BBRR2_FED_UGCOMP_FBR_SUPP         6291 non-null   object
 50  BBRR2_FED_UGCOMP_DFR_SUPP         6291 non-null   object
 51  BBRR2_FED_UGCOMP_NOPROG_SUPP      6291 non-null   object
 52  BBRR2_FED_UGCOMP_MAKEPROG_SUPP    6291 non-null   object
 53  BBRR2_FED_UGCOMP_PAIDINFULL_SUPP  6291 non-null   object
 54  BBRR2_FED_UGCOMP_DISCHARGE_SUPP   6291 non-null   object
 55  PCTPELL_DCS_POOLED_SUPP           5679 non-null   object
 56  STUFACR                           5702 non-null   float64
 57  PCTFLOAN_DCS_POOLED_SUPP          5679 non-null   object
 58  RET_FT4_POOLED_SUPP               2156 non-null   object
 59  RET_PT4_POOLED_SUPP               1654 non-null   object
 60  RET_FTL4_POOLED_SUPP              3015 non-null   object
 61  RET_PTL4_POOLED_SUPP              1768 non-null   object
 62  SATVR25                           1008 non-null   float64
 63  SATVR75                           1008 non-null   float64
 64  SATMT25                           1008 non-null   float64
 65  SATMT75                           1008 non-null   float64
 66  ACTCM25                           1004 non-null   float64
 67  ACTCM75                           1004 non-null   float64
dtypes: float64(29), int64(2), object(37)
memory usage: 3.4+ MB

In [7]:
new_df.head(10)

,UNITID,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,SCH_DEG,ADM_RATE_SUPP,NPT4_PUB,NPT4_PRIV,...,RET_FT4_POOLED_SUPP,RET_PT4_POOLED_SUPP,RET_FTL4_POOLED_SUPP,RET_PTL4_POOLED_SUPP,SATVR25,SATVR75,SATMT25,SATMT75,ACTCM25,ACTCM75
0,100654,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,3.0,0.684,14982.0,NaN,...,0.586,0.2714,NaN,NaN,430.0,523.0,400.0,510.0,15.0,19.0
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,3.0,0.8668,16755.0,NaN,...,0.8313,0.5661,NaN,NaN,610.0,690.0,590.0,720.0,23.0,30.0
2,100690,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,3.0,0.781,18240.0,NaN,...,0.7955,0.2334,NaN,NaN,613.0,700.0,613.0,730.0,25.0,30.0
4,100724,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,3.0,0.966,13527.0,NaN,...,0.6216,0.2086,NaN,NaN,429.0,531.0,399.0,510.0,16.0,20.0
5,100751,The University of Alabama,Tuscaloosa,AL,35487-0100,Southern Association of Colleges and Schools C...,3.0,0.8006,20888.0,NaN,...,0.8754,0.5745,NaN,NaN,570.0,690.0,560.0,720.0,23.0,31.0
6,100760,Central Alabama Community College,Alexander City,AL,35010,Southern Association of Colleges and Schools C...,2.0,NaN,8227.0,NaN,...,NaN,NaN,0.6284,0.3071,NaN,NaN,NaN,NaN,NaN,NaN
7,100812,Athens State University,Athens,AL,35611,Southern Association of Colleges and Schools C...,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,100830,Auburn University at Montgomery,Montgomery,AL,36117-3596,Southern Association of Colleges and Schools C...,3.0,0.9223,12630.0,NaN,...,0.6621,0.2321,NaN,NaN,510.0,615.0,500.0,575.0,18.0,25.0
9,100858,Auburn University,Auburn,AL,36849,Southern Association of Colleges and Schools C...,3.0,0.4374,24297.0,NaN,...,0.9274,0.7755,NaN,NaN,610.0,680.0,610.0,700.0,24.0,30.0

In [8]:
new_df.dropna()

Empty DataFrame
Columns: [UNITID, INSTNM, CITY, STABBR, ZIP, ACCREDAGENCY, SCH_DEG, ADM_RATE_SUPP, NPT4_PUB, NPT4_PRIV, PPTUG_EF, C150_L4_POOLED_SUPP, C150_L4_PELL_POOLED_SUPP, GRAD_DEBT_MDN_SUPP, PLUS_DEBT_ALL_COMP_MDPAY10_SUPP, PLUS_DEBT_INST_COMP_MDPAY10_SUPP, GRAD_DEBT_MDN10YR_SUPP, PLUS_DEBT_INST_COMP_MD_SUPP, PREDDEG, UGDS_WHITE, UGDS_BLACK, UGDS_HISP, UGDS_ASIAN, UGDS_AIAN, UGDS_NHPI, UGDS_2MOR, UGDS_NRA, UGDS_UNKN, IRPS_WHITE, IRPS_BLACK, IRPS_HISP, IRPS_ASIAN, IRPS_AIAN, IRPS_NHPI, IRPS_2MOR, IRPS_NRA, IRPS_UNKN, BBRR2_FED_UG_N_SUPP, BBRR2_FED_UG_DFLT_SUPP, BBRR2_FED_UG_DLNQ_SUPP, BBRR2_FED_UG_FBR_SUPP, BBRR2_FED_UG_DFR_SUPP, BBRR2_FED_UG_NOPROG_SUPP, BBRR2_FED_UG_MAKEPROG_SUPP, BBRR2_FED_UG_PAIDINFULL_SUPP, BBRR2_FED_UG_DISCHARGE_SUPP, BBRR2_FED_UGCOMP_N_SUPP, BBRR2_FED_UGCOMP_DFLT_SUPP, BBRR2_FED_UGCOMP_DLNQ_SUPP, BBRR2_FED_UGCOMP_FBR_SUPP, BBRR2_FED_UGCOMP_DFR_SUPP, BBRR2_FED_UGCOMP_NOPROG_SUPP, BBRR2_FED_UGCOMP_MAKEPROG_SUPP, BBRR2_FED_UGCOMP_PAIDINFULL_SUPP, BBRR2_FED_UGCOMP_DISCHARGE_SUPP, PCTPELL_DCS_POOLED_SUPP, STUFACR, PCTFLOAN_DCS_POOLED_SUPP, RET_FT4_POOLED_SUPP, RET_PT4_POOLED_SUPP, RET_FTL4_POOLED_SUPP, RET_PTL4_POOLED_SUPP, SATVR25, SATVR75, SATMT25, SATMT75, ACTCM25, ACTCM75]
Index: []

[0 rows x 68 columns]

In [9]:
new_df.head(10)

,UNITID,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,SCH_DEG,ADM_RATE_SUPP,NPT4_PUB,NPT4_PRIV,...,RET_FT4_POOLED_SUPP,RET_PT4_POOLED_SUPP,RET_FTL4_POOLED_SUPP,RET_PTL4_POOLED_SUPP,SATVR25,SATVR75,SATMT25,SATMT75,ACTCM25,ACTCM75
0,100654,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,3.0,0.684,14982.0,NaN,...,0.586,0.2714,NaN,NaN,430.0,523.0,400.0,510.0,15.0,19.0
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,3.0,0.8668,16755.0,NaN,...,0.8313,0.5661,NaN,NaN,610.0,690.0,590.0,720.0,23.0,30.0
2,100690,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,3.0,0.781,18240.0,NaN,...,0.7955,0.2334,NaN,NaN,613.0,700.0,613.0,730.0,25.0,30.0
4,100724,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,3.0,0.966,13527.0,NaN,...,0.6216,0.2086,NaN,NaN,429.0,531.0,399.0,510.0,16.0,20.0
5,100751,The University of Alabama,Tuscaloosa,AL,35487-0100,Southern Association of Colleges and Schools C...,3.0,0.8006,20888.0,NaN,...,0.8754,0.5745,NaN,NaN,570.0,690.0,560.0,720.0,23.0,31.0
6,100760,Central Alabama Community College,Alexander City,AL,35010,Southern Association of Colleges and Schools C...,2.0,NaN,8227.0,NaN,...,NaN,NaN,0.6284,0.3071,NaN,NaN,NaN,NaN,NaN,NaN
7,100812,Athens State University,Athens,AL,35611,Southern Association of Colleges and Schools C...,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,100830,Auburn University at Montgomery,Montgomery,AL,36117-3596,Southern Association of Colleges and Schools C...,3.0,0.9223,12630.0,NaN,...,0.6621,0.2321,NaN,NaN,510.0,615.0,500.0,575.0,18.0,25.0
9,100858,Auburn University,Auburn,AL,36849,Southern Association of Colleges and Schools C...,3.0,0.4374,24297.0,NaN,...,0.9274,0.7755,NaN,NaN,610.0,680.0,610.0,700.0,24.0,30.0

In [10]:
os.makedirs('../data', exist_ok=True)  
new_df.to_csv('../data/all_us_uni.csv')